<div class="container">
  <mat-card class="chat-card">
    <div #messagesContainer class="messages mat-elevation-z4">
      <div *ngFor="let message of messages">
        <div class="user-message-container">
          <div class="chat-box user-message">
            <span class="message-label">You:</span>
            <span class="message-content">{{ message.text }}</span>
          </div>
        </div>
        <div class="bot-message-container">
          <div class="chat-box bot-message">
            <span class="message-label">KirbyGPT:</span>
            <mat-progress-spinner *ngIf="message.loading" diameter="35" mode="indeterminate"></mat-progress-spinner>
            <span *ngIf="!message.loading" class="message-content">
              <ng-container *ngFor="let content of message.response">
                <ng-container *ngIf="content.type === 'text'">
                  <p class="response-text">{{ content.text }}</p>
                </ng-container>
                <ng-container *ngIf="content.type === 'code'">
                  <mat-card class="bot-code-card">
                    <mat-card-header>
                      <div class="header-content">
                        <ng-container [ngSwitch]="getCodeHeader(content.text)">
                          <h6 *ngSwitchCase="'html'">html</h6>
                          <h6 *ngSwitchCase="'typescript'">typescript</h6>
                        </ng-container>
                        <button
                          #tooltip="matTooltip"
                          (click)="copyToClipboard(content.text); showCopiedTooltip(tooltip)"
                          mat-icon-button
                          matTooltip="Copy to clipboard"
                          title="Copy to clipboard"
                        >
                          <mat-icon>content_copy</mat-icon>
                        </button>
                      </div>
                    </mat-card-header>
                    <mat-card-content>
                      <pre><code>{{ removeCodeHeader(content.text) }}</code></pre>
                    </mat-card-content>
                  </mat-card>
                </ng-container>
              </ng-container>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="input-container">
      <mat-form-field appearance="outline" class="input-field">
        <input (keydown.enter)="addMessage($event)" [(ngModel)]="userInput" matInput placeholder="Type your message"/>
      </mat-form-field>
      <button (click)="addMessage($event)" color="primary" mat-raised-button>Send</button>
    </div>
  </mat-card>
</div>
