.card {
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  margin-bottom: 1.5rem;

  .input-group {
    .form-control {
      border-radius: 0.5rem 0 0 0.5rem;
    }

    .input-group-append {
      .btn {
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
  }

  .card-body {
    .card-text {
      margin-bottom: 0;
    }

    .spinner-container {
      height: 1.5rem; // Adjust this value based on the size of the spinner
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
